<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bref runtime versions</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@0.7.4/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600" rel="stylesheet">
    <style>
        :root {
            --font-sans: Open Sans, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
            --font-serif: Poppins, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
            --font-mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
        }
        .font-sans {
            font-family: var(--font-sans);
        }
        .font-serif {
            font-family: var(--font-serif);
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body class="font-sans home">
    <section class="min-h-screen border-t-4 border-grey-dark flex items-center">
        <div class="container mx-auto py-10 lg:py-24 px-4">
            <form>
                <div class="md:float-right">
                    <label class="inline-block py-2 leading-normal" for="regionSelector">
                        Region
                    </label>
                    <div class="inline-block relative ml-2 mb-3">
                        <select class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                                id="regionSelector" name="region" onchange="this.form.submit()">
                            {% for region in regions %}
                                <option value="{{ region }}" {% if region == selectedRegion %}selected{% endif %}>{{ region }}</option>
                            {% endfor %}
                        </select>
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                </div>

                <div class="md:float-right mr-6">
                    <label class="inline-block py-2 leading-normal" for="versionSelector">
                        Bref version
                    </label>
                    <div class="inline-block relative ml-2 mb-3">
                        <select class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                                id="versionSelector" name="version" onchange="this.form.submit()">
                            {% for version in versions %}
                                <option value="{{ version }}" {% if version == selectedVersion %}selected{% endif %}>
                                    {{ version }}
                                    {% if loop.index == 1 %} (latest){% endif %}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                </div>
            </form>

            <h1 class="font-serif mb-2">Bref runtime versions</h1>
            <div class="text-lg text-grey-dark mb-12">
                This page lists the latest versions of the <a href="https://bref.sh/docs/runtimes/">Bref PHP runtimes</a>.
            </div>

            {% if layers is not empty %}
                <table class="w-full text-left table-collapse">
                    <tr class="text-grey-dark bg-grey-lightest uppercase text-sm">
                        <th class="p-3">Layer name</th>
                        <th class="p-3">ARN</th>
                        <th class="p-3">Latest version</th>
                    </tr>
                    {% for layer in layers %}
                        <tr>
                            <td class="p-3 border-t border-grey-light font-bold">{{ layer.name }}</td>
                            <td class="p-3 border-t border-grey-light text-grey-dark text-xs md:text-sm"><code class="font-mono">{{ layer.arn }}</code></td>
                            <td class="p-3 border-t border-grey-light text-blue-dark text-right">{{ layer.version }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>There are no runtimes published in this region yet!</p>
            {% endif %}

        </div>
    </section>
</body>
</html>
